#navBar {
    width: 100%;
    height: 10vh;
}

#holder {
    width: 100%;
    height: 90vh;
    position: relative
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

#searchBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    margin-left: 50%;
}

#edit {
    width:100%;
    
}
#info{
    height: 60vh;

}

#overlay {
    width: 100vw;
    overflow: auto;
    height: 60vh;
    position: absolute;
    bottom: 0;
}
#posts{
    display : flex;
    
}
.card.userpost{
    margin:10px;
}


